.idea
*.pyc
*.h5
test_output.csv
resources/target_test*
resources/taylor_test*.png
resources/density_test*.png
resources/matchup_report.xml
resources/matchup_report.xsl
dist
build
opec.egg-info
MANIFEST
resources/ogs_test*
debug.properties